input.loginBtn{
    background-color: darkcyan;
    color: white;
    border-radius: 10px;
    font-family: "Lucida Bright";
    font-size: 17px;
    font-weight: bold;
    width: 70px;
    height: 30px;

    border-style: solid;
    border-color:white ;
}
input.textBox{
    background-color: white;
    color: darkslategray;
    border-radius: 4px;
    font-family: "Lucida Bright";
    font-size: 19px;
    font-weight: bold;
    width: 90%;
    height: 30px;
    padding-left: 5px;
    border-style: solid;
    border-color: darkcyan;
}
input.textBoxLong{
    background-color: white;
    color: darkslategray;
    border-radius: 4px;
    font-family: "Lucida Bright";
    font-size: 19px;
    font-weight: bold;
    width: 95%;
    height: 30px;
    padding-left: 5px;
    border-style: solid;
    border-color: darkcyan;
}


input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: lightgrey;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: darkcyan;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
input.submitBtn{
    background-color: darkcyan;
    color: white;
    border-radius: 10px;
    font-family: "Lucida Bright";
    font-size: 18px;
    font-weight: bold;
    width: 90px;
    height: 35px;

    border-style: solid;
    border-color:darkslategray ;
}
fieldset.field-control{
    border-radius: 5px;
    border-color: darkcyan;
    border-style: solid;
    width:88%;
    padding:16px;
}
.table-control{
    border-radius: 5px;
}

